.bubble {
    color: #fff;
    background: #009688;
    padding: 4px 10px;
    margin: 4px 0px 4px 10%;
    border-radius: 16px;
    width: 90%;

    -webkit-transition: all 500ms cubic-bezier(0.010, 0.545, 0.480, 0.985);
    -moz-transition: all 500ms cubic-bezier(0.010, 0.545, 0.480, 0.985);
    -o-transition: all 500ms cubic-bezier(0.010, 0.545, 0.480, 0.985);
    transition: all 500ms cubic-bezier(0.010, 0.545, 0.480, 0.985); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.010, 0.545, 0.480, 0.985);
    -moz-transition-timing-function: cubic-bezier(0.010, 0.545, 0.480, 0.985);
    -o-transition-timing-function: cubic-bezier(0.010, 0.545, 0.480, 0.985);
    transition-timing-function: cubic-bezier(0.010, 0.545, 0.480, 0.985); /* custom */

    .author {
        font-weight: 600;
        font-size: 12px;
    }

    .message {
        display: block;
        font-weight: 600;
    }

    .time {
        float: right;
        font-size: 12px;
    }

    .edited {
        float: right;
        font-size: 12px;
    }

    .interaction {
        display: none;

        a {
            font-size: 12px;
            color: #fff;
            cursor: pointer;
            text-decoration: none;
        }
    }

    &.me {
        background: #00BCD4;
        margin-left: 0%;
    }

    &.deleted, &.deleted:hover {
        background: #8e8e8e;

        .author, .message, .time, .interaction {
            display: none;
        }

        &:after {
            content: "Deleted";
        }
    }

    &:hover
    {
        .interaction {
            display: block;
        }
    }
}
