<div
    [ngClass]="{
            'bubble': true,
            'me': byMe,
            'deleted': deleted
          }"
>
    <span class="author">#{{ id }} {{ author }}</span>
    <!--<span class="time">{{ formatTime(message.time) }}</span>-->
    <span class="time">{{ time | date: "HH:mm" }}</span>
    <span class="message">{{ message }}</span>

    <span *ngIf="byMe" class="interaction">
        <a>Edit</a>
        <a>Delete</a>

        <span *ngIf="edited" class="edited">Edited</span>
    </span>
</div>
